* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lora;
}


.container-fluid {
    flex-direction: row;
    text-align: center;
}
.wrapper {
    display: flex;
}

nav {
    background-color: #024456;
    color: #fff;
}

.form-control {
    background-color: #ced4da !important;
    color: black !important;
    border-color: black !important;
}

button {
    background-color: #ced4da !important;
    color: darkgray !important;
    border-color: black !important;
}

.col-md-3 {
    position: sticky;
}


#cityDisplay {
    flex-direction: row;
}

ul {
    list-style-type: none;
}

.card-group {
    display: flex;
}

#fiveCard {
    background-color: #a9d6e5;
    border-radius: 1rem;

}