* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    flex-direction: row;
    text-align: center;
}
.wrapper {
    display: flex;

}

.col-md-3 {
    position: sticky;
}


#cityDisplay {
    flex-direction: row;
}

ul {
    list-style-type: none;
}

.card-group {
    display: flex;
}